@model AdventurousContacts.Models.Contact
@using Resources

@{
	var submitText = (Model == null) ? Messages.SubmitButtonNewText : Messages.SubmitButtonEditText;
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary()
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.ContactID)
	
	<div class="input clearfix">
		@Html.LabelFor(m => m.FirstName)
		@Html.TextBoxFor(m => m.FirstName, new { maxlength = 50 })
		@Html.ValidationMessageFor(m => m.FirstName)
	</div>
	
	<div class="input clearfix">
		@Html.LabelFor(m => m.LastName)
		@Html.TextBoxFor(m => m.LastName, new { maxlength = 50 })
		@Html.ValidationMessageFor(m => m.LastName)
	</div>
	
	<div class="input clearfix">
		@Html.LabelFor(m => m.EmailAddress)
		@Html.TextBoxFor(m => m.EmailAddress, new { maxlength = 50 })
		@Html.ValidationMessageFor(m => m.EmailAddress)
	</div>
	
	<input type="submit" class="btn btn-green" value="@submitText">
}

<p class="back-btn">
	@Html.ActionLink(
	Messages.BackToContactsLink,
	"Index",
	"Contact",
	new { },
	new { @class = "btn btn-yellow" })
</p>